<form action="/chapter/create" class="form-create-pages" method="POST">
  <dt>Tytuł rozdziału</dt>
  <dd>
    <input class=" form-control" name="name" placeholder="Dodaj tytuł rozdziału" type="text">
  </dd>
  <dt>Kolejność rozdziału</dt>
  <dd>
    <input class=" form-control" name="order" placeholder="Dodaj kolejsność" type="text">
  </dd>
  <dt>Treść rozdziału</dt>
  <dd>
    <input class=" form-control" name="content" placeholder="Treść rozdziału" type="text">
    <br>
    <button class="btn btn-success" type="submit">Dodaj rozdział</button>
  </dd>
  <input class="course-id form-control" name="owner" type="hidden" value="<%= course.id %>">
  <input name="_csrf" type="hidden" value="<%= _csrf %>">
</form>
