<md-card>
  <md-card-content>
    <h2>Dodaj zodział</h2>
    <form action="/chapter/create" ng-submit="submitAddChapterForm(<%= course.id %>)">
      <md-input-container>
        <label>Tytuł rozdziału</label>
        <input ng-model="createChapterForm.name">
      </md-input-container>
      <md-input-container>
        <label>Kolejnośc rozdziału</label>
        <input ng-model="createChapterForm.order">
      </md-input-container>
      <md-input-container>
        <label>Treść rozdziału</label>
        <input ng-model="createChapterForm.content">
      </md-input-container>
      <input name='_csrf' type='hidden' value='<%= _csrf %>'>
    </form>
    <div class="md-actions" layout="row">
      <md-button class="md-primary" ng-click="submitAddChapterForm(<%= course.id %>)">
        Dodaj rozdział
      </md-button>
    </div>
  </md-card-content>
</md-card>
