<form action="/chapter/create" method="POST" class="form-create-pages">
  <dt>Tytuł rozdziału</dt>
  <dd>
    <input type="text" class=" form-control" placeholder="Dodaj tytuł rozdziału" name="name">
  </dd>
  <dt>Kolejność rozdziału</dt>
  <dd>
    <input type="text" class=" form-control" placeholder="Dodaj kolejsność" name="order">
  </dd>
  <dt>Treść rozdziału</dt>
  <dd>
    <input type="text" class=" form-control" placeholder="Treść rozdziału" name="content">
    <br>
    <button type="submit" class="btn btn-success">Dodaj rozdział</button>
  </dd>
  <input type="hidden" class="course-id form-control" name="owner" value="<%= course.id %>">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
