<ul>
  <% _.each(chapters, function(chapter) { %>
    <li>
      Tytuł rozdziału:
      <%= chapter.name %>
        <br> Treść rozdziału:
        <%= chapter.content %>
          <br>
    </li>
    <% include ../exercise/show.ejs %>
      <% }) %>
</ul>
