<div class="container">
  <div class="page-header">
    <h2>Pattern Design Academy</h2>
    <h4>Witaj w serwisie do anuki wzorców porojektowych oraz zassad dobrego programowania.</h4>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h4>Wprowadzenie</h4>
          <p>Dowiesz się tutaj o podstawach zasadach korzystania z serwisu.</p>
          <p class="text-right"><a href="/intro" class="btn btn-primary" role="button">Więcej...</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h4>Wzorce projektowe</h4>
          <p>Wybierz z dostępnych wzorców i zacznij naukę właśnie teraz.</p>
          <p class="text-right"><a href="/pattern" class="btn btn-primary" role="button">Więcej...</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h4>Zasady dobrego programowania</h4>
          <p>Uczń swój kod lelszym ucząc się zasad dobrego programowania.</p>
          <p class="text-right"><a href="/best-practice" class="btn btn-primary" role="button">Więcej...</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
