<!DOCTYPE html>
<html>

<head>
  <title>Pattern Design Academy</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/dependencies/angular-material.css">
  <link rel="stylesheet" href="/styles/dependencies/angular-material.min.css">
  <link rel="stylesheet" href="/styles/dependencies/angular-toastr.css">
  <link rel="stylesheet" href="/styles/dependencies/bootstrap-theme.css">
  <!--STYLES END-->

  <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: "<%= _csrf %>"
    };
  </script>

</head>

<body ng-app="PDAModule" ng-cloak>
  <!--BODY -->
  <div layout-fill>
    <!-- <div class="container"> -->
    <div ng-controller="AppCtrl" layout="column">

      <% include navbar/toolbar.ejs %>
        <div layout="row">
          <% include navbar/slidenav.ejs %>
            <md-content>
              <%- body %>
            </md-content>
        </div>
    </div>
  </div>


  <!--BODY END-->

  <!--TEMPLATES-->
  <script type="text/javascript" src="/jst.js"></script>
  <!--TEMPLATES END-->

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/angular-toastr.min.js"></script>
  <script src="/js/dependencies/angular-toastr.tpls.min.js"></script>
  <script src="/js/dependencies/angular-animate.min.js"></script>
  <script src="/js/dependencies/angular-aria.min.js"></script>
  <script src="/js/dependencies/angular-material.min.js"></script>
  <script src="/js/dependencies/angular-mocks.js"></script>
  <script src="/js/dependencies/angular-moment.js"></script>
  <script src="/js/dependencies/angular-route.js"></script>
  <script src="/js/dependencies/angular-sails.min.js"></script>
  <script src="/js/dependencies/moment.min.js"></script>
  <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
  <script src="/js/public/users/Users.js"></script>
  <script src="/js/public/navbar/NavbarModule.js"></script>
  <script src="/js/public/signup/SignupModule.js"></script>
  <script src="/js/private/dashboard/DashboardModule.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/compareTo.module.js"></script>
  <script src="/js/private/dashboard/DashboardController.js"></script>
  <script src="/js/private/pattern/PatternController.js"></script>
  <script src="/js/private/pattern/PatternModule.js"></script>
  <script src="/js/public/navbar/NavbarController.js"></script>
  <script src="/js/public/signup/SignupController.js"></script>
  <script src="/js/public/users/UserController.js"></script>
  <script src="/js/public/users/UserService.js"></script>
  <!--SCRIPTS END-->

</body>

</html>
