  <div ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
    <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">
      <h2>Utwórz konto</h2>
      <div class="row">

        <div class="control-group form-group"
              ng-class="{'has-error':signup.name.$invalid && signup.name.$dirty}">
          <label>Imię</label>

          <input type="text" class="form-control" placeholder="Imię..." name="name"
                ng-model="signupForm.name" ng-maxlength="50" required>

          <span class="help-block has-error" ng-if="signup.name.$dirty">
            <span ng-show="signup.name.$error.required">To pole jest wymagane.</span>
            <span ng-show="signup.name.$error.maxlength">Nie więcej niż 50 znaków.</span>
          </span>
        </div>

        <div class="control-group form-group"
          ng-class="{'has-error':signup.nick .$invalid &&
                                signup.nick .$dirty}">
          <label>Nick</label>
          <input type="text" class="form-control" placeholder="Nick..." name="nick"
                ng-model="signupForm.nick " ng-maxlength="50" required>
          <span class="help-block has-error" ng-if="signup.nick .$dirty">
            <span ng-show="signup.nick .$error.required">To pole jest wymagane..</span>
            <span ng-show="signup.nick .$error.maxlength">Nie więcej niż 50 znaków.</span>
          </span>
        </div>

        <div class="control-group form-group"
        ng-class="{'has-error':signup.email.$invalid &&
                              signup.email.$dirty}">
          <label>Adress email</label>
          <input type="email" class="form-control" placeholder="Email..." name="email"
                ng-model="signupForm.email" required >
          <span class="help-block has-error" ng-if="signup.email.$dirty">
            <span ng-show="signup.email.$error.required">To pole jest wymagane.</span>
            <span ng-show="signup.email.$error.email">Nieprawidłowy adres.</span>
          </span>
        </div>


        <div class="control-group form-group"
        ng-class="{'has-error':signup.password.$invalid &&
                              signup.password.$dirty}">
          <label>Hasło</label>

          <input type="password" class="form-control" placeholder="Hasło..." name="password"
                ng-model="signupForm.password" id="password" required ng-minlength="6"
                      compare-to="signupForm.confirmPassword" >
          <span class="help-block has-error" ng-if="signup.password.$dirty">
            <span ng-show="signup.password.$error.required">To pole jest wymagane.</span>
            <span ng-show="signup.password.$error.minlength">Hasło musi mieć nie mniej niż 6 znakwów.</span>
          </span>
        </div>

        <div class="control-group form-group">
          <label>Powtórz hasło</label>
          <input type="password" class="form-control" placeholder="Hasło..." name="confirmation"
                ng-model="signupForm.confirmPassword" required>
          <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
            <span ng-show="signup.password.$error.compareTo">Hasła muszą być jednakowe.</span>
            <span ng-show="signup.confirmation.$error.required">To pole jest wymagane.</span>
          </span>
        </div>
      </div>

      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
        <span ng-show="!signupForm.loading">Utwórz konto</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading">Przygotowanie konta...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />

    </form>
  </div>
