<md-toolbar  class="md-toolbar-tools" ng-controller="NavbarController">
  <md-button  hide-gt-md aria-label="Menu" class="md-icon-button" ng-click="toggleLeft()">
    <md-icon md-svg-icon="images/menu.svg"></md-icon>
  </md-button>
  <h2>
    <span>
      Pattern Design Academy
    </span>
  </h2>
</md-toolbar>
