<md-toolbar class="md-toolbar-tools" ng-controller="NavbarController">
  <md-button aria-label="Menu" class="md-icon-button" hide-gt-md ng-click="toggleLeft()">
    <md-icon md-svg-icon="./images/menu.svg"></md-icon>
  </md-button>
  <md-button ng-click="homePage()">
    <p>Pattern Design Academy</p>
  </md-button>
  <md-button ng-click="aboutPage()">
    <p>O projekcie</p>
  </md-button>
  <md-button ng-click="designPatternPage()">
    <p>Wzorce projektowe</p>
  </md-button>
  <md-button ng-click="bestPracticePage()">
    <p>Dobre praktyki</p>
  </md-button>
  <div flex></div>
  <% if (session.authenticated && session.User.admin) { %>

    <md-button ng-click="addCoursePage()">
      <p>Dodaj kurs</p>
    </md-button>

    <md-button ng-click="usersPage()">
      <p>Użytkownicy</p>
    </md-button>

  <% } %>
  <% if (session.authenticated) { %>

    <md-button ng-click="userProfilePage(<%= session.User.id %>)">
      <p>Twój profil</p>
    </md-button>

    <md-button ng-click="logOut()">
      <p>Wyloguj się</p>
    </md-button>
  <% } %>
  <% if (!session.authenticated) { %>
    <md-button ng-click="logIn($event)">
      <p>Zaloguj się</p>
    </md-button>
    <md-button ng-click="signUp($event)">
      <p>Zarejestruj się</p>
    </md-button>

  <% } %>

</md-toolbar>
