<md-content flex layout-padding>
  <h2>Utwórz konto</h2>
  <md-form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">

    <md-input-container>
      <label>Imię</label>
      <input type="text" name="name" ng-model="signupForm.name" ng-maxlength="50" required>
    </md-input-container>

    <md-input-container>
      <label>Nick</label>
      <input type="text" name="nick" ng-model="signupForm.nick " ng-maxlength="50" required>
    </md-input-container>

    <md-input-container>
      <label>Adress email</label>
      <input type="email" name="email" ng-model="signupForm.email" required>
    </md-input-container>

    <md-input-container>
      <label>Hasło</label>
      <input type="password" name="password" ng-model="signupForm.password" id="password" required ng-minlength="6" compare-to="signupForm.confirmPassword">
    </md-input-container>

    <md-input-container>
      <label>Powtórz hasło</label>
      <input type="password" name="confirmation" ng-model="signupForm.confirmPassword" required>
    </md-input-container>

    <a class="md-button" type="submit" ng-disabled="signup.$invalid">
        Utwórz konto
    </a>

    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </md-form>
</md-content>
