<md-content flex layout-padding>
  <h2>Utwórz konto</h2>
  <md-form class="form-signin" id="sign-up-form" name="signup" ng-submit="submitSignupForm()">

    <md-input-container>
      <label>Imię</label>
      <input name="name" ng-maxlength="50" ng-model="signupForm.name" required type="text">
    </md-input-container>

    <md-input-container>
      <label>Nick</label>
      <input name="nick" ng-maxlength="50" ng-model="signupForm.nick " required type="text">
    </md-input-container>

    <md-input-container>
      <label>Adress email</label>
      <input name="email" ng-model="signupForm.email" required type="email">
    </md-input-container>

    <md-input-container>
      <label>Hasło</label>
      <input compare-to="signupForm.confirmPassword" id="password" name="password" ng-minlength="6" ng-model="signupForm.password" required type="password">
    </md-input-container>

    <md-input-container>
      <label>Powtórz hasło</label>
      <input name="confirmation" ng-model="signupForm.confirmPassword" required type="password">
    </md-input-container>

    <a class="md-button" ng-disabled="signup.$invalid" type="submit">
      Utwórz konto
    </a>

    <input name="_csrf" type="hidden" value="<%= _csrf %>"/>
  </md-form>
</md-content>
