<div class='container'>
	<label>Imię</label>
	<h3><%= user.name %> </h3>
	<label>Nick</label>
	<h3><%= user.nick %> </h3>
	<label>Email</label>
	<h3><%= user.email %> </h3>
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edytuj</a>
</div>
