<md-content flex layout-padding>
	<label>Imię:</label>
	<h3>
		<%= user.name %>
	</h3>

	<label>Nick:</label>
	<h3>
		<%= user.nick %>
	</h3>

	<label>Email:</label>
	<h3>
		<%= user.email %>
	</h3>
	<a class="md-button" href="/user/edit/<%= user.id %>">Edytuj profil</a>
</md-content>
