<md-content flex layout-padding>
  <label>Imię:</label>
  <h3>
    <%= user.name %>
  </h3>

  <label>Nick:</label>
  <h3>
    <%= user.nick %>
  </h3>

  <label>Email:</label>
  <h3>
    <%= user.email %>
  </h3>
  <div ng-cloak ng-controller="UpdateProfileController">
    <md-button class="md-button md-primary md-raised" ng-click="updateProfileForm()">
      Edytuj profil
    </md-button>
  </div>
</md-content>
