<div ng-controller="NavbarController" ng-cloak>
  <md-toolbar hide-sm hide-md class="md-toolbar-tools">
    <a class="md-button" href="/">
    Pattern Design Academy
  </a>
    <a class="md-button" href="/about">
    O projekcie
  </a>
    <a class="md-button" href="/design-pattern">
    Wzorce projektowe
  </a>
    <a class="md-button" href="/best-practice">
    Dobre praktyki
  </a>

    <span flex></span>
    <md-button ng-click="logOut()">
      Wyloguj się
    </md-button>
    <md-button ng-click="logIn($event)">
      Zaloguj się
    </md-button>
    <md-button ng-click="signUp($event)">
      Zarejestruj się
    </md-button>
  </md-toolbar>

  <md-toolbar hide-gt-md class="md-toolbar-tools">
    <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu">
      <md-icon md-svg-icon="images/menu.svg"></md-icon>
    </md-button>
    <h2>
      <span>
        Pattern Design Academy
      </span>
    </h2>
  </md-toolbar>


  <md-sidenav hide-gt-md class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">
        Pattern Design Academy
      </h1>
    </md-toolbar>
    <md-content layout-padding>
      <md-list>

        <md-list-item>
          <md-button class="md-primary md-raised" lex-sm="100" flex-md="100" flex-gt-md="auto">
            <%= __('about') %>
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button class="md-primary md-raised">
            <%= __('pattern-design') %>
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button class="md-primary md-raised">
            <%= __('best-practice') %>
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button ng-click="logIn($event)" class="md-primary md-raised">
            Zaloguj się
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button ng-click="signUp($event)" class="md-primary md-raised">
            Zarejestruj się
          </md-button>
        </md-list-item>

      </md-list>
    </md-content>
  </md-sidenav>
</div>
