<md-toolbar hide-sm hide-md class="md-toolbar-tools">
  <a class="md-button" href="/">
    Pattern Design Academy
  </a>
  <a class="md-button" href="/about">
    O projekcie
  </a>
  <a class="md-button" href="/design-pattern">
    Wzorce projektowe
  </a>
  <a class="md-button" href="/best-practice">
    Dobre praktyki
  </a>

  <span flex></span>

  <md-button>
    Zaloguj się
  </md-button>
  <md-button>
    Zarejestruj się
  </md-button>
</md-toolbar>

<md-toolbar hide-gt-md class="md-toolbar-tools">
  <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu">
    <md-icon md-svg-icon="images/menu.svg"></md-icon>
  </md-button>
  <h2>
    <span>
      Pattern Design Academy
    </span>
  </h2>
</md-toolbar>
