<h2>O Projekcie - Pattern Design Academy</h2>
<p>Pattern Design Academy jest projektem serwisu do nauki wzorców projektowch oraz zasad dobrego programowania.</p>
<p>Aby nauka była bardziej efektywna serwis łaczy naukę po przez informacje teoretyczne wraz z ćwiczeniami praktycznymi.</p>
<p>Etapy nauki</p>
<ul>
  <li>Teoria</li>
  <li>Diagramy</li>
  <li>Ćwiczenia</li>
  <li>Powtórzenie</li>
  <li>Projekt</li>
</ul>
