<div layout="column" layout-margin>
  <md-card>
    <md-card-content>
      <h1>Pattern Design Academy</h1>
      <h2>Witaj w serwisie do nauki wzorców porojektowych oraz zasad dobrego programowania.</h2>
    </md-card-content>
  </md-card>
</div>
<div layout="column" layout-margin>

  <div layout="column" layout-margin>
    <div layout="row">

      <md-card>
        <md-card-content>
          <h2>O projekcie</h2>
          <p>Dowiesz się tutaj o podstawach zasadach działania serwisu.</p>
          <md-card-actions layout="row" layout-align="end center">
            <md-button href="/about">Więcej...</md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-content>
          <h2>Wzorce projektowe</h2>
          <p>Wybierz z dostępnych wzorców i zacznij naukę właśnie teraz.</p>
          <md-card-actions layout="row" layout-align="end center">
            <md-button href="/pattern">Więcej...</md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-content>
          <h2>Zasady dobrego programowania</h2>
          <p>Uczń swój kod lelszym ucząc się zasad dobrego programowania.</p>
          <md-card-actions layout="row" layout-align="end center">
            <md-button href="/best-practice">Więcej...</md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>

    </div>
