<md-list>
  <md-card>
    <md-list-item layout-align="center center" layout-margin layout="column">
      <h1>Pattern Design Academy</h1>
      <p>Witaj w serwisie do nauki wzorców porojektowych oraz zasad dobrego programowania.</p>
    </md-list-item>
  </md-card>
  <md-card>
    <md-list-item layout-align="center center" layout-margin layout="column">
      <h2>O projekcie</h2>
      <p>Dowiesz się tutaj o podstawach zasadach działania serwisu.</p>
      <a class="md-button md-raised md-primary" href="/about">Więcej...</a>
    </md-list-item>
  </md-card>
  <md-card>
    <md-list-item layout-align="center center" layout-margin layout="column">
      <h2>Wzorce projektowe=</h2>
      <p>Wybierz z dostępnych wzorców i zacznij naukę właśnie teraz.</p>
      <a class="md-button md-raised md-primary" href="/pattern">Więcej...</a>
    </md-list-item>
  </md-card>
  <md-card>
    <md-list-item layout-align="center center" layout-margin layout="column">
      <h2>Zasady dobrego programowania</h2>
      <p>Uczń swój kod lelszym ucząc się zasad dobrego programowania.</p>
      <a class="md-button md-raised md-primary" href="/best-practice">Więcej...</a>
    </md-list-item>
  </md-card>
</md-list>
