<md-dialog aria-label="Logowanie">
  <md-form ng-submit="submitLoginForm()">
    <md-dialog-content>
      <md-input-container>
        <label>Email</label>
        <input ng-model="loginForm.email" type="email" name="email">
      </md-input-container>
      <md-input-container>
        <label>Haslo</label>
        <input ng-model="loginForm.password" type="password" name="password">
      </md-input-container>
      <md-input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </md-dialog-content>
    <div class="md-actions">
      <md-button ng-click="closeDialog()" class="md-primary">
        Anuluj
      </md-button>
      <md-button ng-click="submitLoginForm()">
        Zaloguj się
      </md-button>
    </div>
  </md-form>
</md-dialog>
