<md-dialog aria-label="Rejestracja">
  <md-form ng-submit="submitSignupForm()">
    <md-dialog-content>
      <md-input-container>
        <label>Imię</label>
        <input type="text" ng-model="signupForm.name" ng-maxlength="50" name="name" required>
      </md-input-container>
      <md-input-container>
        <label>Nick</label>
        <input type="text" ng-model="signupForm.nick" ng-maxlength="50" name="nick" required>
      </md-input-container>
      <md-input-container>
        <label>Adres email</label>
        <input ng-model="signupForm.email" type="email" name="email" required>
      </md-input-container>
      <md-input-container>
        <label>Haslo</label>
        <input ng-model="signupForm.password" type="password" name="password" required>
      </md-input-container>
      <md-input-container>
        <label>Powtórz hasło</label>
        <input type="password" ng-model="signupForm.confirmPassword" name="confirmPassword" required>
      </md-input-container>
      <md-input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </md-dialog-content>
    <div class="md-actions">
      <md-button ng-click="closeDialog()" class="md-primary">
        Anuluj
      </md-button>
      <md-button ng-click="submitSignupForm()">
        Zaloguj się
      </md-button>
    </div>
  </md-form>
</md-dialog>
