<md-dialog aria-label="Logowanie">
  <md-form ng-submit="submitLoginForm()">
    <md-content flex layout-padding>
      <h2>Edycja profilu</h2>
      <md-form action="/user/update/1 %>" method="POST">
        <md-input-container>
          <label>Imię</label>
          <input name="name" type="text" ng-model="updateProfileForm.name" />
        </md-input-container>
        <md-input-container>
          <label>Nick</label>
          <input name="nick" type="text" ng-model="updateProfileForm.nick" />
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input name="email" type="text" ng-model="updateProfileForm.email" />
        </md-input-container>
        <% if (session.authenticated && session.User.admin) { %>
          <md-input-container>
            <label>Jest administratorem</label>
            <input name="admin" type="text" ng-model="signupForm.isAdmin" />
          </md-input-container>
          <% } %>

            <input class="md-button" type="submit" value="Zapisz" />
            <input name="_csrf" type="hidden" value="<%= _csrf %>" />
            </form>
    </md-content>

    </md-form>
</md-dialog>
