<form action="/exercise/create" class="form-create-exercise" method="POST">
  <dt>Tytuł ćwiczenia</dt>
  <dd>
    <input class=" form-control" name="name" placeholder="" type="text">
  </dd>
  <dt>Kolejność ćwiczenia</dt>
  <dd>
    <input class=" form-control" name="order" placeholder="" type="text">
  </dd>
  <dt>Treść konsoli ćwiczenia</dt>
  <dd>
    <input class=" form-control" name="codeconsole" placeholder="" type="text">
  </dd>
  <dt>Treść testów ćwiczenia</dt>
  <dd>
    <input class=" form-control" name="test" placeholder="" type="text">
  </dd>
  <dt>Treść ćwiczenia</dt>
  <dd>
    <input class=" form-control" name="content" placeholder="" type="text">
    <br>
    <button class="btn btn-success" type="submit">Dodaj ćwiczenia</button>
  </dd>

  <input class="exercise-id form-control" name="course" type="hidden" value="<%= course.id %>">
  <input class="exercise-id form-control" name="owner" type="hidden" value="<%= chapter.id %>">
  <input name="_csrf" type="hidden" value="<%= _csrf %>">
</form>
