<form action="/course/update/<%= course.id %>" method="POST" class="form-update-course">
  <div class="form-group">
    <dt>Nazwa kursu:</dt>
    <dd>
      <input type="text" class="form-control" placeholder="Dodaj nwazę wzorca" name="name" value="<%= course.name %>">
    </dd>
    <dt>Typ kursu:</dt>
    <dd>
      <select class="form-control" name="type">
        <option>Pattern design</option>
        <option>Best practice</option>
      </select>
    </dd>
    <dt>Krótki opis:</dt>
    <dd>
      <textarea type="text" class="form-control" placeholder="Dodaj krótki opis" name="shortdescription"><%- course.shortdescription %></textarea>
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
      <br>
      <button type="submit" class="btn btn-primary">Zapisz</button>
      <a href="/course" class="btn btn-danger">Anuluj</a>
    </dd>
  </div>
</form>
<hr>
