<md-card ng-cloak ng-controller="CourseController">
  <md-card-content>
    <h2>Edytuj kurs</h2>
    <% include editheader.ejs %>
    <% include ../chapter/edit.ejs %>
    <% include ../chapter/new.ejs %>
  </md-card-content>
</md-card>
