<h3>Edytuj kurs</h3>
<hr>
<div ng-controller="SignupController" ng-cloak>
  <dl class="dl-horizontal">
    <% include editheader.ejs %>
      <% include ../chapter/edit.ejs %>
        <% include ../chapter/new.ejs %>
  </dl>
</div>
