<md-card ng-cloak ng-controller="CourseController">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Edytuj kurs</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-card-content>

    <% include editheader.ejs %>
    <% include ../chapter/edit.ejs %>
    <% include ../chapter/new.ejs %>

  </md-card-content>
</md-card>
