<div ng-cloak ng-controller="CourseController">
  <md-content flex layout-align="center center">
    <md-dialog-content>
      <form submit="submitNewCourseForm()">
        <md-input-container>
          <label>Nazwa kursu</label>
          <input name="name" ng-model="newCourseForm.name" type="text">
        </md-input-container>
        <md-input-container>
          <label>Typ kursu</label>
          <md-select ng-model="newCourseForm.type">
            <md-option>Pattern design</md-option>
            <md-option>Best practice</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Krótki opis</label>
          <input name="shortdescription" ng-model="newCourseForm.shortdescription" type="text">
        </md-input-container>
      </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="submitNewCourseForm()">
        Zapisz
      </md-button>
    </div>
  </md-content>
</div>
