Spis treści
<ul>
  <li><a>Wstęp</a></li>
  <li><a>Zastowowanie</a></li>
  <li><a>Opis</a></li>
  <li><a>Ćwiczenia</a></li>
  <li><a>Powtórzenie</a></li>
  <li><a>Projekt</a></li>
  <li><a>Podsumowanie</a></li>
</ul>

<a class="btn btn-default">wstecz</a>
<a class="btn btn-default">dalej</a>
