<div class="container">
  <div class="controller">
    <h2>Wzorce</h2>

    <table class="table">
      <% _.each(patterns, function (pattern) { %>
      <tr data-id="<%= pattern.id%>" data-model="pattern">
        <td><p><%= pattern.name %></p></td>
        <td><a href="/pattern/show/<%= pattern.id %>" class="btn btn-primary">Rozpocznij</a></td>
      </tr>
      <% }) %>
    </table>
  </div>
</div>
