<h3>Dodaj wzorzec</h3><hr>
<form action="/pattern/create" method="POST" class="form-create-pattern">
  <div class="form-group">
      <dl class="dl-horizontal">
          <dt>Nazwa wzorca:</dt>
          <dd><input type="text" class="form-control" placeholder="Nazwa wzorca" name="name"></dd>
          <hr>
          <dt>Zastosowanie:</dt>
          <dd><textarea type="text" class="form-control" placeholder="Zastosowanie" name="application"></textarea></dd>
          <hr>
          <dt>Krótki opis:</dt>
          <dd><textarea type="text" class="form-control" placeholder="Krótki opis" name="shortdescription"></textarea></dd>
          <hr>
          <dt>Pełny opis:</dt>
          <dd><textarea type="text" class="form-control" placeholder="Pełny opis" name="fulldescription"></textarea></dd>
          <hr>
          <dt>Powtórzenie:</dt>
          <dd><textarea type="text" class="form-control" placeholder="Powtórzenie" name="repeatation"></textarea></dd>
          <hr>
          <dt>Podsumowanie:</dt>
          <dd><textarea type="text" class="form-control" placeholder="Podsumowanie" name="summary"></textarea></dd>
          <hr>
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <dd><button type="submit" class="btn btn-primary">Zapisz</button>
            <button type="submit" class="btn btn-danger">Odrzuć</button></dd>
      </dl>
  </div>
</form>
