<h3>Dodaj wzorzec</h3>
<hr>

<form action="/pattern/create" method="POST" class="form-create-pattern">
  <div class="form-group">
    <dl class="dl-horizontal">

      <dt>Nazwa wzorca:</dt>
      <dd>
        <input type="text" class="form-control" placeholder="Nazwa wzorca" name="name">
      </dd>

      <dt>Krótki opis:</dt>
      <dd>
        <textarea class="form-control" placeholder="Krótki opis" name="shortdescription"></textarea>
      </dd>

      <input type="hidden" name="_csrf" value="<%= _csrf %>">

      <hr>
      <dt>
        Operacje
      </dt>
      <dd>
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a href="/pattern" class="btn btn-danger">Odrzuć</a>
      </dd>

    </dl>
  </div>
</form>
<hr>
